.background {
  height: 1068px;
  width: 1677px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 534px);
  right: -165px;
  border-radius: 50px;
  background-color: #e8f1f2;
}
.footerContent {
  align-self: stretch;
  flex-direction: column;
  gap: 47.4px;
  max-width: 100%;
}
.footer,
.footerContent,
.settings,
.settings1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  flex: 1;
  flex-direction: column;
  padding: 100px 0 0;
  box-sizing: border-box;
  min-width: 677px;
  max-width: 100%;
}
.settings,
.settings1 {
  position: relative;
  flex-direction: row;
}
.settings1 {
  width: 1477px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 51px;
  max-width: 100%;
}
.settings {
  width: 100%;
  background-color: #e8f1f2;
  flex-wrap: wrap;
  padding: 47px 51px 46px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1625px) {
  .settings1 {
    flex-wrap: wrap;
  }
  .settings {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1500px) {
  .footerContent {
    gap: 24px;
  }
  .settings1 {
    gap: 25px;
  }
  .settings {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .footer,
  .settings {
    box-sizing: border-box;
  }
  .footer {
    padding-top: 65px;
  }
  .settings {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .footer {
    min-width: 100%;
  }
  .settings {
    padding-left: 235px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .settings {
    gap: 25px;
  }
}