.sidebarBackground {
  width: 385px;
  height: 1024px;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.maskGroupIcon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.userStatus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px 0 26px;
}
.admin,
.nguyenThaiSon {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.nguyenThaiSon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: center;
}
.admin {
  text-decoration: none;
  font-weight: 300;
  color: inherit;
  min-width: 52px;
}
.userName,
.userRole {
  justify-content: flex-start;
}
.userRole {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 51px 0 50px;
}
.userName {
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
}
.actions,
.user,
.userImage,
.userName {
  display: flex;
  align-items: flex-start;
}
.userImage {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.actions,
.user {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 40px 40px;
}
.actions {
  padding: 0 1px 0 0;
}
.sidebar {
  width: 385px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 50px 92px 217px 60px;
  box-sizing: border-box;
  gap: 43px;
  min-width: 385px;
  max-width: 100%;
}
.footer,
.menuContent,
.settings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuContent {
  align-self: stretch;
  flex-direction: column;
  gap: 47.4px;
  max-width: 100%;
}
.footer,
.settings {
  box-sizing: border-box;
}
.footer {
  width: 1041px;
  flex-direction: column;
  padding: 100px 0 0;
  min-width: 1041px;
  max-width: 100%;
}
.settings {
  width: 100%;
  position: relative;
  background-color: #e8f1f2;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 47px 51px 46px;
  gap: 51px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 16px;
  color: #7a7e86;
  font-family: Poppins;
}
@media screen and (max-width: 1625px) {
  .sidebar {
    padding-top: 32px;
    padding-bottom: 141px;
    box-sizing: border-box;
  }
  .footer {
    min-width: 100%;
  }
  .settings {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1500px) {
  .footer,
  .sidebar {
    flex: 1;
  }
  .settings {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .sidebar {
    padding-top: 21px;
    padding-bottom: 92px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .menuContent {
    gap: 24px;
  }
  .settings {
    gap: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .settings {
    padding-left: 235px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    gap: 21px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer,
  .settings,
  .sidebar {
    box-sizing: border-box;
  }
  .footer {
    padding-top: 65px;
  }
  .settings {
    padding-left: 20px;
  }
}