.maskGroupIcon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.maskGroupWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px 0 26px;
}
.admin,
.nguyenThaiSon {
  position: relative;
  font-weight: 500;
}
.admin {
  font-weight: 300;
  display: inline-block;
  min-width: 52px;
}
.userType {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 51px 0 50px;
  font-size: 16px;
  color: #7a7e86;
}
.userProfile {
  flex-direction: column;
  gap: 4px;
}
.frameParent,
.sidebar,
.sidebarInner,
.userProfile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: column;
  gap: 12px;
}
.sidebar,
.sidebarInner {
  flex-direction: row;
  padding: 0 40px;
}
.sidebar {
  align-self: stretch;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 50px 60px 217px;
  gap: 83px;
}
.sidebarWrapper {
  width: 421px;
  padding: 0 36px 0 0;
  box-sizing: border-box;
}
.bottomBar,
.bottomLeftMenu,
.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bottomLeftMenu {
  align-self: stretch;
  gap: 47.4px;
}
.bottomBar {
  width: 1041px;
  padding: 100px 0 0;
  box-sizing: border-box;
}
.notification11,
.notification111 {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  background-image: url(/public/notification-1-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.notification11 {
  padding: 0;
  width: 46px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notificationArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 29px 0 0;
}
.message1 {
  width: 47px;
  height: 35px;
  position: relative;
  background-image: url(/public/message-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.messageArea,
.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 0 0;
}
.settings {
  width: 100%;
  position: relative;
  background-color: #e8f1f2;
  flex-direction: row;
  padding: 51px 35px 42px;
  box-sizing: border-box;
  gap: 15px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-family: Poppins;
}
@media screen and (max-width: 1625px) {
  .settings {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1275px) {
  .sidebar {
    padding-top: 32px;
    padding-bottom: 141px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    padding-top: 21px;
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .bottomLeftMenu {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .bottomBar,
  .sidebar {
    box-sizing: border-box;
  }
  .sidebar {
    gap: 41px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bottomBar {
    padding-top: 65px;
  }
}